.card{
    position: relative;
    margin: 15px 62px;

}
h2{
    color: #06969e;
    font-family: 'Merienda One', cursive;
    font-size: 2rem;
    z-index: 50;
    opacity: 0;
    transition: 0.7s;
}
h4{
    color: #06969e;
    font-family: 'Merienda One', cursive;
    font-size: 2rem;
    opacity: 0.5;
    z-index: 2;
    transition: 0.5s;
}
.heading{
    color: #06969e;
    font-family: 'Merienda One', cursive;
    font-size: 1.5rem;
}
p{
    color: #40514E;
    font-size: 1.2rem;
    opacity: 0.5;
    z-index: 2;
    transition: 0.5s;
}
.card:hover h2{
    opacity: 5;
    transform: translate(200px);
}
.card-body:hover p, .card-body:hover h4{
    opacity: 1;
}

.row{
    background-color: rgb(255, 246, 246);  
}
.navbar,.home{
    color: #40514E;
    font-size: 1.4rem;   
    background-color: rgb(255, 246, 246);         
}
.touch_btm{
    font-size: 110%;
    margin-bottom: 0;
}
.btm{
    height: auto;
    text-align: center;
    background-color:#EAF6F6; 
    line-height: 2.5;  
    padding: 5px 0 1px;
}
.footer-link{
    color: #11999E;
    position: relative;
    top: 10px;
    padding: 10px;
}
